<app-default-header [headerConfig]="headerConfig"
                    (headerEvent)="headerHandler($event)"></app-default-header>
<div class="device-main-container">
    <ion-content>
        <div fxLayout="column" fxLayoutAlign="center center">
            <div>
                <img src="../../../../assets/images/qr_default.png" width="150px" height="150px">
            </div>
            <div class="qr-container">
                <button mat-raised-button color="primary" (click)="startQrScan()">{{'CONTENT.SCANQRCODE' | translate}}
                </button>
            </div>
        </div>
        <div>
            <form [formGroup]="addDeviceForm" (submit)="addDevice()" fxLayout="column">
                <div class="form-content">
                    <mat-form-field>
                        <input matInput maxlength="32"
                               placeholder="{{'CONTENT.DEVICENAME' | translate}}" formControlName="name"
                               [ngClass]="{ 'is-invalid': addDeviceFormSubmitted && form.name.errors }">
                        <mat-error *ngIf="addDeviceFormSubmitted && form.name.errors">
                            <mat-error *ngIf="form.name.errors.required">{{'CONTENT.REQUIREDDEVICENAME' | translate}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="URI" formControlName="uriIdentifier"
                               [ngClass]="{ 'is-invalid': addDeviceFormSubmitted && form.uriIdentifier.errors }">
                        <mat-error *ngIf="addDeviceFormSubmitted && form.uriIdentifier.errors">
                            <mat-error
                                    *ngIf="form.uriIdentifier.errors.required">{{'CONTENT.REQUIREDURI' | translate}}
                            </mat-error>
                            <mat-error
                                    *ngIf="form.uriIdentifier.errors.pattern">{{'CONTENT.CORRECTDATA' | translate}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="UID" formControlName="uidIdentifier"
                               [ngClass]="{ 'is-invalid': addDeviceFormSubmitted && form.uidIdentifier.errors }">
                        <mat-error *ngIf="addDeviceFormSubmitted && form.uidIdentifier.errors">
                            <mat-error *ngIf="form.uidIdentifier.errors && form.uidIdentifier.errors.required">
                                {{'CONTENT.REQUIREDUID' | translate}}
                            </mat-error>
                            <mat-error
                                    *ngIf="form.uidIdentifier.errors.pattern">{{'CONTENT.NOSPECCHAR' | translate}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{'CONTENT.PROFILE' | translate}}</mat-label>
                        <mat-select formControlName="profileType" [(value)]="selectedProfileType">
                            <mat-select-trigger>
                                <img src="{{selectedProfileType.logo}}" alt="type logo" class="profile-type-img"/>
                                {{selectedProfileType.title}}
                            </mat-select-trigger>
                            <mat-option *ngFor="let item of allProfileTypes" [value]="item"
                                        class="select-profile-type">
                                <img src="{{item.logo}}" alt="type logo" class="profile-type-img"/>
                                {{item.title}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="addDeviceFormSubmitted && form.profileType.errors">
                            <mat-error *ngIf="form.profileType.errors && form.profileType.errors.required">
                                {{'CONTENT.REQUIREDPROFILETYPE' | translate}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                    <div>
                        <div>
                            <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="isUsingLoginData"
                                          color="primary">{{'CONTENT.USEGROUPLOGINDATA' | translate}}</mat-checkbox>
                        </div>
                        <div *ngIf="!isUsingLoginData">
                            <div class="form-content">
                                <mat-form-field>
                                    <input matInput placeholder="{{'CONTENT.USERNAME' | translate}}"
                                           formControlName="username"
                                           [ngClass]="{ 'is-invalid': addDeviceFormSubmitted && form.username.errors }">
                                    <mat-error *ngIf="addDeviceFormSubmitted && form.username.errors">
                                        <mat-error *ngIf="form.username.errors.required">
                                            {{'CONTENT.REQUIREDUSERNAME' | translate}}
                                        </mat-error>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="{{'CONTENT.PASSWORD' | translate}}"
                                           formControlName="password"
                                           type="password"
                                           [ngClass]="{ 'is-invalid': addDeviceFormSubmitted && form.password.errors }">
                                    <mat-error *ngIf="addDeviceFormSubmitted && form.password.errors">
                                        <mat-error *ngIf="form.password.errors.required">
                                            {{'CONTENT.REQUIREDPASSWORD' | translate}}
                                        </mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayoutAlign="center">
                    <button mat-raised-button type="submit" color="primary">
                        {{'CONTENT.CREATEDEVICE' | translate}}</button>
                </div>
            </form>
        </div>
    </ion-content>
</div>
