@import "../../../../variables";

.main-container {
  height: 100%;
  background: #f8f8f8;
}

.title-container {
  padding-left: 20px;
  padding-top: 20px;

  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}