@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

$font-family-main: 'Quicksand', sans-serif;

$first-color: #0c5d60;
$second-color: #f8f8f8;
$third-color: #f0f0f0;
$fourth-color: #56c2b3;
$fifth-color: #909090;
$sixth-color: #600c0c;
$seventh-color: #d1d1d1;
$default-black: #000000;
$default-color: #ffffff;
